{% extends 'extras/navegacion.html' %}

{% load static %}

{% block pag %}
<title> Home </title>

<h1>¡Bienvenidos a mi sitio web </h1>

<img src="{% static 'icono.png' %}" alt="" width="50">



<p>Esto es un texto Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quod, inventore totam illo voluptatem numquam accusantium a architecto distinctio eum minus eligendi nihil et id modi alias dolorem libero blanditiis. Repellendus sint natus dolorum provident quaerat in doloribus nulla assumenda aliquid quis ipsam saepe voluptatibus unde sunt, culpa corrupti laborum qui eligendi adipisci velit sed. Nulla, vero? Voluptatem aut aspernatur odio culpa esse quod nesciunt tempore fugit, cum, voluptatum sunt quis molestiae consectetur, vel repudiandae temporibus et aperiam quo molestias quibusdam illum ipsam similique nobis vitae? Ratione magnam, dicta, officia eum excepturi culpa odio hic sequi aspernatur voluptatibus labore reiciendis. ipsum dolor, sit amet consectetur adipisicing elit. Dicta nemo labore aliquid esse beatae nostrum repellendus cum recusandae dolores quas, laboriosam ea aspernatur et, consectetur possimus id sunt harum voluptates.</p>

{% endblock %}